body {
	font-family: 'Montserrat';
}

.title h1 {
	font-weight: bolder;
	text-align: center;
	color: #666666;
	margin-top: 50px;
}

.title h2 {
	font-weight: 600;
	margin-top: 20px;
	margin-left: 20px;
}

.carousel-item {
	min-width: 600px;
}
.product {
	display: flexbox;
	width: 30%;
	min-width: 400px;
	height: fit-content;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	margin: 20px;
	padding: 20px;
}
.product img {
	width: 100%;
	max-width: 100%;
	height: max-content;
	max-height: 500px;
	display: block;
	object-fit: scale-down;
}

.footerr {
	background: rgb(44, 51, 74);
	background: linear-gradient(
		0deg,
		rgba(44, 51, 74, 1) 0%,
		rgba(62, 73, 105, 1) 100%
	);
	height: 50px;
}
.footerr p {
	padding-left: 10px;
	padding-top: 15px;
	color: #e3e3e3;
}

.cardd {
	display: flexbox;
	width: 40%;
	height: fit-content;
	min-width: 300px;
	border-radius: 8px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	margin: 20px;
	padding: 20px;
	text-align: center;
	transition: all 0.25s;
}
.cardd a {
	color: black;
	text-decoration: none;
}
.cardd h4 {
	font-weight: bold;
}

.cardd img {
	width: 100%;
	display: block;
	object-fit: scale-down;
}

.categories .cardd:hover {
	transform: translateY(-10px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.card {
	display: block;
	width: fit-content;
	min-width: 18rem;
	margin-top: 5%;
	margin-bottom: 5%;
}
.card-title {
	font-weight: 600;
	text-align: center;
	color: #666666;
}

.card .form-group {
	margin-bottom: 5px;
}

.dataTableContainer {
	width: 50%;
	min-height: fit-content;
}

#dataTable {
	display: block;
	height: 100%;
	width: 100%;
}

.icons {
	font-size: 1.5rem;
	color: Dodgerblue;
}

.navbar .logo-container {
	height: 60px;
}

.navbar .logo-container img {
	height: 100%;
	object-fit: scale-down;
}

.navbar .cart-container {
	height: 100%;
	width: 60px;
}
.navbar .cart-container img {
	width: 100%;
	height: 100%;
	object-fit: scale-down;
}

.mern-logo-container {
	display: inline-block;
	width: 200px;
}
.mern-logo-container img {
	width: 100%;
}
